<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABk5I1dEa2yU84j3AqdbgjhZxTooIofTc</string>
	<key>GCM_SENDER_ID</key>
	<string>572421122970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nccguide</string>
	<key>PROJECT_ID</key>
	<string>nccguide-mke5d4</string>
	<key>STORAGE_BUCKET</key>
	<string>nccguide-mke5d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572421122970:ios:54966f4503eca6e5c86823</string>
</dict>
</plist>